body {
	background: url("../images/got.jpeg")no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h2{
	color: #ffffff;
}
#title{
	color: #ffffff;
	font-size: 90px;
}
.row {
	text-align: center;
}
.jumbotron{
	background: url("../images/got2.jpeg")no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	opacity: 0.4;
	height: 80%;
	width: 70%;
	margin:5% 0 5% 3.5%;
}
#startButton{
	width: 200px;
	height: 40px;
	font-size: 20px;
}
#restartButton{
	width: 200px;
	height: 40px;
	font-size: 20px;
	display: none;
}
.questions{
	color:#ffffff;
	font-size: 30px;
}
.answers {
	color:#ffffff;
	font-size: 30px;
}
.ahover:hover {
	background-color: grey;
}
.score{
	color: #ffffff;
	font-size: 30px;
}
#pickMade{
	color: white;
}
#time{
	display: none;
}
.color{
	color: white;
}
