body {
	background-color: #000000;
}

h2{
	color: #ffffff;
}
#title{
	color: #ffffff;
	font-size: 90px;
}
.row {
	text-align: center;
}
.jumbotron{
	background-image: url("../images/got.jpeg");


}
#startButton{
	width: 200px;
	height: 40px;
	font-size: 20px;
}
.questions{
	color:#ffffff;
	font-size: 30px;
}
.answers {
	color:#ffffff;
	font-size: 30px;
	
}
.ahover:hover {
	background-color: grey;
}